* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1em;
}

body {
  background-color: #4d62c1;
  height: 100%;
}

h1 {
  font-weight: 800;
  font-size: 4em;
  color: white;
  padding: 0;
  margin: -10px;
}

h2, p {
  font-weight: 400;
  color: #B0BEFF;
  margin: 5px;
  text-align: center;
}

h4 {
  font-size: 4em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #B0BEFF;
}

#working {
  margin-bottom: 2em;
}

.link {
  color: white;
  font-size: 2em;
  padding: 0.5em;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 30px;
  margin-top: -30px;
  text-align: center
}

.incorrect:before {
  content: attr(pre);
}

.incorrect:hover:before {
  content: attr(data-hover);
  color: #e74c3c;
  font-weight: 800;
}

.correct:before {
  content: attr(pre);
}

.correct:hover:before {
  content: attr(data-hover);
  color: #2ecc71;
  font-weight: 800;
}

@media (max-width: 1080px) {
  main{
    width: 100%;
  }
  p {
    font-size: 1.5em;
  }
}
