* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1em;
}

body {
  background-color: #252846;
  height: 100%;
}

h1 {
  font-weight: 800;
  font-size: 4em;
  color: #B0BEFF;
  padding: 0;
  margin: -10px;
}

h2, p {
  font-weight: 400;
  color: #fff;
  margin: 5px;
  text-align: center;
}

h4 {
  font-size: 4em;
}

a {
  text-decoration: none;
  color: #B0BEFF;
}

a:hover {
  color: #2ecc71;
  font-weight: 800;
}

#working {
  margin-bottom: 1em;
}

#skills {
  margin-bottom: 2em;
}

#available {
  margin-top: 2em;
}

#scroll {
  color: #4A508C;
  padding-bottom: 15px;
}

.link {
  color: white;
  font-size: 2em;
  padding: 0.5em;
}

.main {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 100%;
  margin-bottom: 30px;
  text-align: center
}

.correct:before {
  content: attr(pre);
  color: #B0BEFF;
}

.correct:hover:before {
  content: attr(data-hover);
  color: #2ecc71;
  font-weight: 800;
}

.container {
  margin: auto;
  max-width: 1200px;
  margin-bottom: 30px;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}


@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

/*@media (max-width: 1080px) {
  main{
    width: 85%;
  }
  p {
    font-size: 1.2em;
  }
}*/
