# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Site Info

title: Mac Reddin
email: m@credd.in
author_name: "Mac Reddin"
description: >- # this means to ignore newlines until "baseurl:"
  Mac Reddin. Designer, Maker, Tea Drinker.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://macredd.in" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: TheTeaGuns
github_username:  TeaGuns
permalink: /:title # Post permalink
timezone: America/New_York # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Build settings
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
sass:
  style: :compressed
remote_theme: heiswayi/the-plain
plugins:
  - jekyll-feed
  - jekyll-remote-theme

  # Other Params
include: [ "robots.txt" ]
exclude: [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile", "script" ]


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
