
<section id="header">
		{% if page.url == '/index.html' or page.url == '/' %}
		{% assign home-header = '<p>Currently building <a href="https://commsponsor.com/">CommSponsor</a> and CommHire. In my free time I can be found drinking a cup of tea, reading a book, or hanging with my cats. Often all three at the same time.</p>' %}
	{% else %}
		{% assign home-header = '' %}
	{% endif %}
	<div class="row">
	    <a class="logo" href="/"><img class="me" src="https://pbs.twimg.com/profile_images/1105204028097654785/OjNLSagP_400x400.png"/></a>
	    <h1>Hi, I'm Mac Reddin</h1>
	</div>
	<div class="row">
	    <h2>Product, design, startups and tea.</h2>
		  <div class="divider"></div>
	</div>
	<div class="row nav-links">  
		<a href="/blog">Blog</a>
		<p>•</p>
		<a target="_blank" href="https://twitter.com/TheTeaGuns">Twitter</a>
		<p>•</p>
		<a target="_blank" href="https://www.linkedin.com/in/mac-reddin-7a275716b/">LinkedIn</a>
		<p>•</p>
		<a href="mailto:m@credd.in">m@credd.in</a>
	</div>
	{{ home-header }}

</section>
