@import 'rong-base';
@import 'rong-grid';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:800');



* {
  box-sizing: border-box;
  margin: auto;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

body {
  background-color: #fff;
  color: #454545;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3em;
}

h2 {
  font-weight: 700;
  color: #BFC3C5;
  padding-bottom: 0.8em;
}

h4 {
  color: #BFC3C5;
}

p {
  line-height: 150%;
  letter-spacing: 0.06em;
}

img {
  max-width: 100%;
}

a {
  font-weight: 700;
  color: #6D7CED;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 162px;
  margin-bottom: 81px;
}

.divider {
  margin-bottom: 81px;
  color: #BFC3C5;
  hr {
    border-top: #BFC3C5;
  }
}

.work {
  margin-bottom: 8em;
  overflow: auto;
  .project {
    display: flex;
    align-items: flex-start;
    .projectInfo {
      h4, p {
        padding-bottom: 1em;
      }
    }
  }
}

#tr-footer{
  height: 8em;
  width:100%;
  background:transparent;
  }

@media screen and (max-width: 600px){
  .header {
    height: auto;
    margin-top: 5em;
  }

  .title {
    text-align: left;
  }
}