@import 'rong-base';
@import 'rong-grid';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
  margin: auto;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 300%;
}

body {
  background-color: #fff;
  color: #454545;
}

h1 {
  font-weight: 700;
  padding: 0.25em 0.5em;
}

h2 {
  font-weight: 400;
  padding: 0em 0.5em;

}

h4 {
  padding: 0em 0.5em;
  margin: 0;
}

p {
  letter-spacing: .1em;
  line-height: 150%;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  background-image: linear-gradient(to right, #fff 50%, rgba(104,129,231,0.7) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  font-weight: 700;
  color: #454545;
  text-decoration: none;
  transition: background-position   0.5s ease-out;
}

a:hover {
  background-position: -99.99% 0%;
  color: #fff;
}

a.inSpeech {
  background-image: linear-gradient(to right, #efefef 50%, rgba(104,129,231,0.7) 50%);
}

.me {
  border-radius: 500px;
  max-width: 100%;
  position: fixed;
  margin-left: -120px;
  margin-top: -210px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.me.hidden {
  opacity: 0;
}

.me2 {
  border-radius: 500px;
  max-width: 100%;
  position: absolute;
  margin-left: -120px;
  margin-top: 25px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.me2.meVisible {
  opacity: 1;
}

.speechBubble {
	position: relative;
  border-radius: .4em;
  padding: 0.25em 0.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.speechBubble.transition {
  background: #efefef;
}

#arrow {
  position: fixed;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: -8px;
  margin-top: -210px;
}

#arrowBottom {
  position: relative;
  width: 0; 
  height: 0; 
  margin-left: -8px;
  top: 65px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.arrowVisible {
  border-right: 18px solid #efefef; 
}

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.emoji {
  font-size: 3em;
}

.currently {
  margin: 4em 0;
  padding: 0.25em 0.5em;
}

.socialLinks {
  padding: 0.25em 1em;
}

.social {
  margin-right: 1em;
}

.work {
  margin-bottom: 8em;
}

#extraHeight {
  height: 1000px;
}

@media screen and (max-width: 600px){
  .header {
    height: auto;
    margin-top: 5em;
  }

  .title {
    text-align: left;
  }
}