/* VARIABLES */
/* MIXINS */
/* BASIC */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:800");
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0; }

/* GRID SETUP */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 600px) {
    .container {
      width: 95%; } }
  @media (min-width: 960px) {
    .container {
      max-width: 60rem;
      width: 75%; } }

.left {
  text-align: left; }

.right {
  text-align: right;
  justify-content: flex-end; }

.center {
  text-align: center;
  justify-content: center; }

.row {
  position: relative;
  width: 100%;
  display: block; }
  @media (min-width: 600px) {
    .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap; } }

.row [class^="col"] {
  float: left;
  margin: 0.5em 1%;
  box-sizing: border-box; }

.col-1 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-1 {
      width: 6.3333333333%; } }

.col-2 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-2 {
      width: 14.6666666667%; } }

.col-3 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-3 {
      width: 23%; } }

.col-4 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-4 {
      width: 31.3333333333%; } }

.col-5 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-5 {
      width: 39.6666666667%; } }

.col-6 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-6 {
      width: 48%; } }

.col-7 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-7 {
      width: 56.3333333333%; } }

.col-8 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-8 {
      width: 64.6666666667%; } }

.col-9 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-9 {
      width: 73%; } }

.col-10 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-10 {
      width: 81.3333333333%; } }

.col-11 {
  width: 98%; }
  @media (min-width: 600px) {
    .col-11 {
      width: 89.6666666667%; } }

.col-12 {
  width: 98%; }

.col-dyn-content {
  width: auto; }

.col-dyn-fill {
  flex-grow: 2; }

.row::after {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box;
  margin: auto; }

html {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

body {
  background-color: #fff;
  color: #454545; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3em; }

h2 {
  font-weight: 700;
  color: #BFC3C5;
  padding-bottom: 0.8em; }

h4 {
  color: #BFC3C5; }

p {
  line-height: 150%;
  letter-spacing: 0.06em; }

img {
  max-width: 100%; }

a {
  font-weight: 700;
  color: #6D7CED;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 162px;
  margin-bottom: 81px; }

.divider {
  margin-bottom: 81px;
  color: #BFC3C5; }
  .divider hr {
    border-top: #BFC3C5; }

.work {
  margin-bottom: 8em;
  overflow: auto; }
  .work .project {
    display: flex;
    align-items: flex-start; }
    .work .project .projectInfo h4, .work .project .projectInfo p {
      padding-bottom: 1em; }

#tr-footer {
  height: 8em;
  width: 100%;
  background: transparent; }

#workTogether {
  color: #454545;
  padding-bottom: 1em; }

@media screen and (max-width: 600px) {
  .header {
    height: auto;
    margin-top: 5em; }

  .title {
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
