@import 'rong-base';
@import 'rong-grid';
/*@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,700');*/

* {
    box-sizing: border-box;
    margin: auto;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Arvo", serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 150%;
    color: #1F1F1F;
}

h2 {
    line-height: 250%;
}

p {
    color: #555555;
    font-family: "Lato", sans-serif;
}

.container {
    padding: 3em 0;
}

img {
    width: 100%;
    margin: 4em 0 1em 0;
}

.single {
    max-width: 80%;
}

.sub {
    font-size: 0.8em;
    margin-bottom: 1em;
    font-style: italic;
    text-align: center;
}

